@import "vars";
@import "mixin";
.subVisual {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  background: {
    repeat: no-repeat;
    size: cover;
    position: 50% 50%;
  }
  .titleBox {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    .subTitle {
      font-size: $font-large;
      font-weight: 700;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
  }
  #lnb {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 50px;
    &.fixed {
      position: fixed;
      width: 100%;
      top: 0;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
    }
    .container {
      display: flex;
      .home {
        display: flex;
        width: 50px;
        height: 50px;
        overflow: hidden;
        text-indent: -999px;
        justify-content: center;
        align-items: center;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        &:before {
          text-indent: 0;
          font-size: 24px;
          color: #fff;
          @include icon("home", 0);
        }
      }
      .menu {
        width: 200px;

        &:nth-of-type(2) button {
          border-right: 1px solid rgba(255, 255, 255, 0.5);
        }
        button {
          border: none;
          background: none;
          height: 50px;
          padding: 0 20px;
          color: #fff;
          font-size: 16px;
          border-left: 1px solid rgba(255, 255, 255, 0.5);
          width: 100%;
          text-align: left;
        }
        ul {
          background-color: #fff;
          border: 1px solid #ccc;
          border-top: none;
          display: none;
          li {
            border-top: 1px solid #ccc;
            a {
              display: block;
              padding: 0 20px;
              height: 50px;
              line-height: 50px;
            }
          }
        }
      }
    }
  }
}
.h4 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  display: flex;
  &:before {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: rgb(219, 62, 62);
    background: linear-gradient(180deg, $main-color 0%, $main-color 50%, #ccc 50%, #ccc 100%);
    margin-right: 15px;
  }
}
@for $i from 1 to 6 {
  #subVisual0#{$i} {
    background-image: url("../images/contents/subVisual0#{$i}.jpg");
  }
}

.tab {
  .tabMenu {
    display: flex;
    li {
      flex-basis: 25%;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-left: none;
      &.active {
        border-color: $main-color;
        a {
          background-color: $main-color;
          color: #fff;
        }
      }
      a {
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .tabContents {
    position: relative;
    > li {
      display: none;
      &:nth-child(1) {
        display: block;
      }
      // &:target {
      //   display: block;
      // }
      // &:not(:target) {
      //   display: none;
      // }
    }
  }
}

.subContents {
  min-height: 100vh;
  margin-bottom: 100px;
  .contentsTitle {
    font-size: $font-large - 10px;
    font-weight: 700;
    text-align: center;
    margin: 80px 0;
    &:after {
      @include pseudo(block, relative, "");
      @include box(40px, 5px, $main-color);
      margin: 30px auto;
    }
  }
  .desc {
    text-align: center;
    margin-top: 50px;
    .headTxt {
      font-size: $font-large;
      line-height: 1.25;
      font-weight: 300;
      margin-bottom: 50px;
      strong {
        font-weight: 500;
        .red {
          color: $main-color;
        }
      }
    }
    .txtBox {
      text-align: justify;
      p {
        margin-bottom: 50px;
        line-height: 1.5;
        word-break: keep-all;
      }
    }
  }
}
#introduce {
  .summaryBox {
    display: flex;
    .txtBox {
      width: 50%;
      color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: {
        color: $main-color;
        position: right 0 bottom 0;
        repeat: no-repeat;
        image: url("../images/contents/bg_logo.png");
      }

      .main {
        font-size: $font-large;
        font-weight: 700;
        &:after {
          content: "";
          display: block;
          width: 40px;
          height: 2px;
          background-color: rgba(255, 255, 255, 0.5);
          margin: 20px auto;
        }
      }
      .sub {
        line-height: 1.5;
        font-size: 20px;
      }
    }
  }
}
#greeting {
  .container {
    display: flex;
    img {
      align-self: flex-start;
    }
  }
  .desc {
    text-align: left;
    padding-left: 80px;
    margin-top: 0;
    .txtBox {
      text-align: left;
      p {
        margin-bottom: 30px;
      }
    }
  }
}
#philosophy {
  .container {
    .summaryBox {
      position: relative;
      .inner {
        position: absolute;
        left: 40px;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        background: rgb(255, 115, 0);
        background: linear-gradient(90deg, rgba(255, 115, 0, 0.8) 0%, rgba($main-color, 0.8) 100%);
        padding: 40px 100px 40px 40px;
        span {
          letter-spacing: 0.5em;
        }
        .main {
          font-size: 35px;
          line-height: 1.5;
          padding-bottom: 15px;
          position: relative;
          strong {
            font-weight: 700;
          }
          &::after {
            @include pseudo;
            @include box(40px, 1px, #fff);
            bottom: 0;
          }
        }
        .sub {
          line-height: 1.5;
          padding-top: 15px;
        }
      }
    }
    .conBox01 {
      word-break: keep-all;
      margin-top: 50px;
      .title {
        text-align: center;
        width: 180px;
        padding: 15px 0;
        font-weight: 700;
        border: 1px solid $main-color;
        border-radius: 40px;
        margin: 0 auto;
      }
      .desc {
        margin-top: 20px;
        padding: 0 150px;
        color: #999;
        line-height: 1.5;
      }
      .list {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        > li {
          flex-basis: 33.33%;
          padding: 0 40px;
          text-align: center;
          .title02 {
            margin-top: 20px;
            font-size: 20px;
            font-weight: 700;
          }
          .desc02 {
            margin-top: 20px;
            line-height: 1.5;
            color: #999;
          }
        }
      }
    }
  }
  .conBox02 {
    background-color: #eee;
    width: 100%;
    height: 100%;
    padding: 80px 0;
    margin-top: 80px;
    .title {
      text-align: center;
      width: 180px;
      padding: 15px 0;
      font-weight: 700;
      border: 1px solid $main-color;
      border-radius: 40px;
      margin: 0 auto 30px auto;
    }
    ul {
      li {
        display: flex;
        justify-content: center;
        .strategy,
        img {
          width: 30%;
          vertical-align: top;
        }
        .strategy {
          background-color: #fff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          word-break: keep-all;
          font-size: $font-medium;
          font-weight: 700;
          span {
            color: $main-color;
            padding-right: 10px;
          }
          .desc02 {
            padding: 0 70px;
            line-height: 1.5;
            font-weight: 300;
            font-size: $font-normal - 1;
            color: #999;
            margin-top: 20px;
          }
        }
        &:nth-child(2n) {
          flex-direction: row-reverse;
        }
      }
    }
  }
}
#history {
  .historyBox {
    margin-top: 150px;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background-color: #ccc;
    }
    .yearBox {
      display: flex;
      padding: 50px 0;
      position: relative;
      &:nth-child(2n) {
        justify-content: flex-end;
        padding-left: 100px;
        .inner .year:before {
          left: -60px;
        }
      }
      &:nth-child(2n + 1) {
        text-align: right;
        padding-right: 100px;
        .inner {
          .year:before {
            right: -60px;
          }
          .monthBox {
            li {
              flex-direction: row-reverse;
              //justify-content: flex-start;
              .month {
                margin-right: 0;
                margin-left: 20px;
              }
            }
          }
        }
      }

      .inner {
        width: 50%;
        //background-color: #666;
        .year {
          font-size: $font-large;
          font-weight: 700;
          margin-bottom: 30px;
          position: relative;
          &:before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: #fff;
            border: 5px solid $main-color;
            box-sizing: border-box;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .monthBox {
          li {
            display: flex;
            margin-bottom: 20px;
            .month {
              font-weight: 700;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}
#location {
  #map {
    height: 500px;
    background-color: #ccc;
    margin-bottom: 50px;
    width: 100%;
  }
  .tab {
    .tabMenu {
      margin-bottom: 50px;
    }
  }
}
#estimate {
  #news {
    margin-bottom: 100px;
  }
}

.overlay {
  background-color: $main-color;
  color: #fff;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  @include longShadow(darken($main-color, 10), 60);
  .address {
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
  }
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: $main-color;
    position: absolute;
    left: calc(50% - 5px);
    bottom: -20px;
  }
}

@media all and (min-width: 1201px) {
  .subVisual #lnb .container .menu {
    &:hover {
      ul {
        display: block !important;
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .subVisual {
    height: clamp(300px, 33.33vw, 400px);
    .titleBox {
      margin-top: clamp(0px, 4vw, 50px);
    }
  }
  .subContents {
    .desc {
      .headTxt {
        font-size: clamp(20px, 4vw, 48px);
        margin-bottom: clamp(20px, 5vw, 50px);
      }
    }
    #introduce,
    #greeting {
      .desc {
        margin-top: clamp(20px, 5vw, 50px);
        padding: 0 clamp(20px, 6.5vw, 80px);
        .txtBox {
          p {
            margin-bottom: clamp(20px, 4vw, 50px);
            font-size: clamp(12px, 1.3vw, 16px);
            text-align: left;
          }
        }
      }
    }
  }
  #location {
    .tabContents {
      padding: 0 clamp(20px, 4vw, 50px);
    }
  }
}

@media all and (max-width: 960px) {
  * {
    word-break: keep-all;
  }
  .subVisual {
    height: 300px;
    .titleBox {
      .subTitle {
        font-size: clamp(20px, 5vw, 48px);
        margin-bottom: 10px;
      }
      p {
        font-size: 12px;
      }
    }
  }
  .subContents {
    .contentsTitle {
      font-size: clamp(24px, 4vw, 38px);
      margin: clamp(30px, 8vw, 80px) 0;
      &::after {
        margin: clamp(15px, 3vw, 30px) auto;
      }
    }
  }
  #introduce {
    .summaryBox {
      flex-direction: column;
      .txtBox {
        width: 100%;
        padding: clamp(30px, 10vw, 80px) 0;
        .main {
          font-size: clamp(20px, 5vw, 48px);
        }
        .sub {
          font-size: clamp(12px, 2vw, 20px);
        }
      }
    }
  }
  #greeting {
    .container {
      flex-direction: column;
      img {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
      }
    }
  }
  #history {
    .historyBox {
      margin-top: clamp(50px, 15vw, 150px);
      padding-left: 70px;
      font-size: clamp(12px, 2vw, 16px);
      line-height: 1.5;
      &::before {
        left: 40px;
      }
      .yearBox {
        padding: clamp(10px, 5vw, 50px) 0;
        padding-right: 20px;
        &:nth-child(2n) {
          justify-content: flex-start;
          padding-left: 0;
          .inner {
            .year::before {
              left: -40px;
            }
          }
        }
        &:nth-child(2n + 1) {
          text-align: left;
          .inner {
            .year::before {
              right: auto;
              left: -40px;
            }
            .monthBox li {
              flex-direction: row;
              .month {
                margin-left: 0;
                margin-right: 20px;
              }
            }
          }
        }
        .inner {
          width: 100%;
          .year {
            line-height: 1;
            font-size: clamp(20px, 5vw, 48px);
            margin-bottom: clamp(10px, 3.2vw, 30px);
          }
        }
      }
    }
  }
}

@media all and (max-width: 480px) {
  .tab {
    .tabMenu {
      font-size: 12px;
      text-align: center;
      li a {
        height: 40px;
      }
    }
  }
}
