.contentsTable {
  width: 100%;
  border-top: 2px solid #bf0c14;
}
.contentsTable tbody th,
.contentsTable tbody td,
.contentsTable thead th,
.contentsTable thead td {
  padding: 15px 10px;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
}
.contentsTable tbody th:nth-child(1),
.contentsTable tbody td:nth-child(1),
.contentsTable thead th:nth-child(1),
.contentsTable thead td:nth-child(1) {
  border-left: none;
}

.boardTable {
  width: 100%;
  border-top: 2px solid #bf0c14;
}
.boardTable tbody th,
.boardTable tbody td,
.boardTable thead th,
.boardTable thead td {
  padding: 15px 10px;
  border-bottom: 1px solid #999;
  text-align: center;
}
.boardTable tbody tr:nth-child(2n) {
  background-color: #999;
}
.boardTable thead {
  font-weight: 500;
}
.boardTable .subject {
  text-align: left;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.pagination ul {
  display: flex;
  justify-content: center;
  margin: 0 20px;
}
.pagination a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1px;
  border-radius: 5px;
}
.pagination a.first {
  background-color: #111;
}
.pagination a.first:before {
  color: #fff;
  font-family: "Material Icons";
  content: "keyboard_double_arrow_left";
  display: inline-block;
  margin-left: 0;
}
.pagination a.prev {
  background-color: #111;
}
.pagination a.prev:before {
  color: #fff;
  font-family: "Material Icons";
  content: "chevron_left";
  display: inline-block;
  margin-left: 0;
}
.pagination a.last {
  background-color: #111;
}
.pagination a.last:before {
  color: #fff;
  font-family: "Material Icons";
  content: "keyboard_double_arrow_right";
  display: inline-block;
  margin-left: 0;
}
.pagination a.next {
  background-color: #111;
}
.pagination a.next:before {
  color: #fff;
  font-family: "Material Icons";
  content: "chevron_right";
  display: inline-block;
  margin-left: 0;
}
.pagination a.active {
  background-color: #bf0c14;
  color: #fff;
}

.marketTable {
  width: 100%;
  text-align: center;
  border-top: 1px solid #bf0c14;
}
.marketTable tbody th,
.marketTable tbody td,
.marketTable thead th,
.marketTable thead td {
  border: 1px solid #ccc;
  padding: 15px 10px;
  vertical-align: middle;
  line-height: 1.6;
}
.marketTable thead {
  border-top: 2px solid #bf0c14;
  background-color: #eee;
}
.marketTable tbody {
  color: #999;
  font-size: 16px;
  font-weight: 300;
}
.marketTable tbody img {
  width: 80%;
  margin: 10px auto;
}
.marketTable tbody a {
  color: #bf0c14;
  border: 1px solid #bf0c14;
  border-radius: 5px;
  padding: 8px 20px 8px 10px;
  transition: all 0.25s ease-in-out;
}
.marketTable tbody a::before {
  font-family: "Material Icons";
  content: "link";
  display: inline-block;
  margin-left: 10px;
  font-family: "Material Icons";
  color: #bf0c14;
  margin-right: 10px;
  transition: all 0.25s ease-in-out;
  vertical-align: middle;
}
.marketTable tbody a:hover {
  color: #fff;
  background-color: #bf0c14;
}
.marketTable tbody a:hover::before {
  color: #fff;
}

.searchForm {
  background-color: #ccc;
  display: flex;
  justify-content: center;
  padding: 80px 150px;
}
.searchForm #searchTxt {
  height: 50px;
  padding: 0 10px;
  border: 1px solid #999;
  box-sizing: border-box;
  margin-right: 10px;
  flex-grow: 1;
}
.searchForm #searchCategory {
  height: 50px;
  padding: 0 10px;
  border: 1px solid #999;
  width: 200px;
  margin-right: 10px;
}
.searchForm button {
  width: 80px;
  background-color: #111;
  border-radius: 5px;
  color: #fff;
}